  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #C6D4E1;
    font-family: 'Poppins';
  }

  header img {
    max-width: 100px;
  }
  nav {
    margin-right: 200px; 
    font-size: 25px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 0 20px;
  }

  li a:hover{
    background: #e2ded7;
    transition: 1.5s;
  }

  .home-buttons {
    display: flex;
    gap: 20px;
    margin-right: 40px; 
  }

  .home-buttons button {
    margin-left: 10px;
    background-color: #BDB8AD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Poppins';
  }

  .home-buttons button:hover {
    background-color: #8d8980;
  }

  .home-carrusel {
    background-image: url("//img/Fondo-Landig-Page.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
  }

  .carrusel-content {
    background-color: rgba(0, 0, 0, 0.333);
    padding: 20px;
    position: relative;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .barra1, .barra2 {
    width: 40%;
    height: 4px;
    background-color: #fff;
    position: absolute;
  }

  .barra1 {
    left: 0;
  }

  .barra2 {
    right: 0;
  }
  .carrusel-text {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: 'Meera Inimai', sans-serif;
  }
  
  .carrusel-text p {
    font-size: 30px;
    margin-top: 40px;
  }
  .carrusel-content h1{
    font-family: 'Poller One', serif;
  }
  .carrusel-button button {
    background-color: #fff;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Inder', sans-serif;

  }

  .carrusel-button button:hover {
    background-color: #d4d1d1;
  }


  .home-services {
    display: flex;
    align-items: center;
    padding: 120px; /* Agrega un padding para que no esté pegado a los bordes */
    justify-content: center;
    font-family: 'Inder', sans-serif;
  }
  
  .home-services img {
    max-width: 50%; /* Ajusta el ancho de la imagen según tus preferencias */
    margin-right: 500px;
  }
  
  .servicios-content {
    margin-left: 80px; /* Agrega un margen izquierdo para separar del lado izquierdo */
    font-size: 20px;
  }
  
  .servicios1, .servicios2 {
    background-color: #EBE7E0; /* Fondo amarillo */
    padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
    margin-top: 10px; /* Margen superior para separar los servicios */
    width: 300px;
    text-align: center; /* Centra el texto horizontalmente dentro del div */
    border-radius: 8px;
  }
  .servicios2{
    margin-left: 150px;
    margin-top: 30px;
  }
  .servicios1 p, .servicios2 p {
    margin: 0; /* Elimina el margen predeterminado del párrafo para centrarlo verticalmente */
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: #C6D4E1;
    font-family: 'Poppins';
  }
  
  footer nav {
    margin-left: auto;
  }
  
  footer nav a {
    color: #fff;
    text-decoration: none;
  }
  
  footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer nav li {
    margin: 0 10px;
  }
  
  
